<!DOCTYPE html>
<html>
  <head>
    <title>Cfra2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CFRA2</h1>
    <p>Bievenidos a Cfra2</p>
  </body>
</html>
